*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imagenes/rojo.jpg);
    padding: 0;
    margin: 0;
}
h1{
    font-family: 'Oswald', sans-serif;
        font-weight: bold;
    
}
h2{

    font-family: 'Oswald', sans-serif;
        font-weight: bold;
color: white;
}
.lista{
    list-style-type: none;
}

#comment{
    font-size: 20px;
    color: cornsilk;
}
#comentario{
    background-color: orange; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;

}
.audio{
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    gap: 20px;
   background-color: rgba(70, 66, 66, 0.4);
   padding-top: 4px;
   padding-bottom: 4px;

}
.nombres{
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    gap: 20px;
    color: white;
   background-color:black;
   padding-top: 3px;
   padding-bottom: 3px;

}
.image{
    width: 320px;
    height: 200px;
}
h3{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: black;

}
#boton{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;

}
.vaciar{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  margin:auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display:block;
}



.bold {
    text-align: center;
    color: cornsilk;
    margin-right: auto;
    margin-left: auto;
}


.imagen {
    width: 400px;
    display: block;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
border-radius: 10px;

}
.logo {
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
footer{
         width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.5);
        color: cornsilk;
        padding-top: 25px;
        padding-bottom: 0px;
        font-weight: normal;
 }
p{
    padding-top: 80px;
    
}
.deezer{
    height: 100px;
    margin-bottom: 20px;
}
.imglogo{
    height: 80px;
}
.caratula{
    margin-left: 510px;
    height: 500px;
    }
    .h1{
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        color: black;
        text-align: center;

    
    }
    @media only screen and (max-width: 600px) {
        .nombres{
            display: none;
        }
    .audio{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 20px;
       background-color: rgba(70, 66, 66, 0.4);
    }
    
    .lista{
        list-style-type: none;
    }
        footer {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            background-color: rgba(0, 0, 0, 0.5);
            color: cornsilk;
            padding-left: 0px;
            padding-right: 0px;
            font-weight: normal;
            font-size: medium;
        }
        .contenedor-artistas{
            margin-left: auto;
            margin-right: auto;
            display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 20px;
        background-color: rgba(70, 66, 66, 0.4);
        padding-top: 30px;
        }
        h1{
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: black;
            font-size: 30px;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
        }
        .lista{
            font-size: 10px;
        }
    
        .imglogo {
            width: 50px;
            height: 50px;
        }
        .logo{
            width: 100px;
            height: 100px;
            margin-top: 20px;
        }
        .imagen{
            width: 170px;
            height: 170px;
        }
        .deezer{
            width: 150px ;
            height: 50px;
            margin-top: 20px;
        }
        
    }