*{
    box-sizing: border-box;


}

body{
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imagenes/rojo.jpg);
    padding: 0;
    margin: 0;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-weight: bold;
    color: black;
    font-size: 100px;
    text-align: center;
    
margin-right: auto;
margin-left: auto;
}

.image{
    width: 320px;
    height: 200px;
    border-radius: 10px;

}
.lista{
    list-style-type: none;
}
h3{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
font-size: x-large;
color:cornsilk ;
text-align: center;
text-decoration: none;

}
h4{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
    color: cornsilk;
}
@media (max-width: 480px) {
     .image{
         width: 100px;
         height: 80px;
         border-radius: 50%;
     }
}
@media (min-width: 480px) and (max-width: 768px) {
        .image{
            width: 240px;
            height: 180px;
            border-radius: 50%;
        }
        .grid-container{
            display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
    gap: 20px;
   background-color: rgba(70, 66, 66, 0.4);
    padding-top: 30px;
        }
}

.bold {
    font-size: x-large;
    text-align: center;
    color: cornsilk;
    margin-right: auto;
    margin-left: auto;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    gap: 20px;
   background-color: rgba(70, 66, 66, 0.4);
    padding-top: 30px;
    
}
.imagen {
    width: 350px;
    border-radius: 10px;

}

.logo {
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 100px;
}

footer{
    display: inline-flex ;
    padding: 6px;
    color: cornsilk;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 30px;
}
p{
    padding-top: 80px;
    
}
.deezer{
    width: 700px;
    margin-bottom: 20px;
}
.imglogo{
    height: 80px;
}
.lista{
    list-style-type: none;
}
#HCB_comment_box{border: 2px solid #FFFFFF; border-radius: 5px; padding: 10px; color:#FFFFFF; background: rgba(0, 0, 0, 0.5);}
.hcb-mod b{color:#0088AF;}
#HCB_comment_box textarea,#HCB_comment_box input.text{border-top:1px solid #e4e4e4;border-left:1px solid #e4e4e4;border-bottom:1px solid #eaeaea;border-right:1px solid #eaeaea;background-color:#f8f8f8;}
#HCB_comment_box .hcb-wrapper-half{display:block;width:50%;float:left;}
#HCB_comment_box .hcb-wrapper{clear:both;}
#HCB_comment_box input.text{display:block;width:95%;}
#HCB_comment_box input.submit{border-top:1px solid #FCB1A2;border-left:1px solid #FCB1A2;border-bottom:1px solid #BB2B0F;border-right:1px solid #BB2B0F;background-color:#F26646;color:#000;font-weight:bold;cursor:pointer;}
#HCB_comment_box div.comment{color:#FDB3A5; background: rgba(0, 0, 0, 0.5); border:3px double #F26646 ; margin:5px; padding:2px;}
#HCB_comment_box .comment .likes{color: #00FF00;}
#HCB_comment_box .hcb-link{color:#0088AF;text-decoration:none;} 

@media only screen and (max-width: 600px) {
    footer {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.5);
        color: cornsilk;
    padding-left: 0px;
        font-weight: normal;
        font-size: medium;
    }
    .grid-container{
        margin-left: auto;
        margin-right: auto;
        display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
    background-color: rgba(70, 66, 66, 0.4);
    padding-top: 30px;
    }
    h1{
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        color: black;
        font-size: 30px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .imglogo {
        width: 50px;
        height: 50px;
    }
    .logo{
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }
    .imagen{
        width: 170px;
    }
    .deezer{
        width: 150px ;
        height: 50px;
        margin-top: 20px;
    }
    
  }