body{
    font-family: sans-serif;
background-size: contain;
background-repeat: no-repeat;
background-color: rgb(163, 163, 159);
}
h2{
    font-family: sans-serif;
    color: rgb(201, 92, 53);
    font-weight: normal;
    font-size: 45px;
    text-align: center;
}
h1{
    font-family: sans-serif;
    font-weight: normal;
    color: rgb(201, 92, 53);
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.image{
    width: 320px;
    height: 200px;
}
h3{
font-weight: normal;
font-size: x-large;
color: royalblue;
}
@media (max-width: 480px) {
     .image{
         width: 100px;
         height: 80px;
     }
}
@media (min-width: 480px) and (max-width: 768px) {
        .image{
            width: 240px;
            height: 180px;
        }
}