.li-black {
    color:cornsilk;
    font-size: large;
  }
  
  .barra-navegacion {
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    width: 100%;
    text-align: justify;
    align-items: center;
    margin: 10px 0px;
    overflow: hidden;
  }
  .ul-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    list-style-type: none;
    align-items: center;
  }
  
  .li-menu {
    margin-top: 10px;
    margin-right: 30px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
  }
  .li-menu:hover {
    border-bottom:black;
    border-width: medium;
  }
  
  .barra-navegacion a {
    text-decoration: none;
  }

  .barra-navegacion .ul-logo .li-logo img{
    float: left;
    width: 23%;
    top: 20px;
    border-radius: 15px;
  }
  .uk-search {
  overflow: hidden;
  padding:8px 15px;

  }
  
  /* MOBILE */
  @media (max-width: 480px) {
  .li-menu {
       font-size: 0.4em 
    }

  }
  
  /*TABLET*/
  @media (min-width: 480px) and (max-width: 768px) {
  .ul-menu {width: 100%}
  }

  