.li-black {
    color:cornsilk;
  }
  
  .barra-navegacion {
    width: 100%;
    position: relative;
    top:0;
    left:0;
    z-index: 10;
    overflow: hidden;
    box-shadow: -2px -2px 5px green, 2px 2px 5px green;
    background: linear-gradient(rgba(53, 68, 71, 0.8), rgb(141, 195, 206));
  }
  
  .ul-menu {
  
    float: right;
    display: flex;
    list-style-type: none;
  }
  
  .li-menu {
  margin-top: 10px;
    margin-right: 30px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
  }
  .li-menu:hover {
    border-bottom: #738b7d 2px solid;
    border-width: medium;
  }
  
  .barra-navegacion a {
    text-decoration: none;
  }

  .barra-navegacion .ul-logo .li-logo img{
    float: left;
    width: 23%;
    top: 20px;
    border-radius: 15px;
  }
  .uk-search {
  margin-top: 20px;
  margin-left: 10px;
  }
  
  /* MOBILE */
  @media (max-width: 480px) {
  .li-menu {
       font-size: 0.4em 
    }

  }
  
  /*TABLET*/
  @media (min-width: 480px) and (max-width: 768px) {
  .ul-menu {width: 100%}
  }
