*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../Imagenes/maluma4.jpg");
    padding: 0;
    margin: 0;
}
h1{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 70px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}
h2{
    color: white;
    font-size: 35px;
}
ol{
    color: white;
}
li{
    font-size: 25px;
}
.image{
    width: 320px;
    height: 200px;
}
@media (max-width: 480px) {
     .image{
         width: 100px;
         height: 80px;
         border-radius: 50%;
     }
}
@media (min-width: 480px) and (max-width: 768px) {
        .image{
            width: 240px;
            height: 180px;
            border-radius: 50%;
        }
}

.bold {
    font-size: x-large;
    text-align: center;
    color: cornsilk;
    margin-right: auto;
    margin-left: auto;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    gap: 20px;
   background-color: rgba(70, 66, 66, 0.4);
    padding-top: 30px;
    
}
.imagen {
    width: 350px;
    height: 200px;
}
.logo {
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
footer{
         width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.5);
        color: cornsilk;
        padding-top: 25px;
        padding-bottom: 0px;
        font-weight: normal;
 }
p{
    padding-top: 80px;
    
}
.deezer{
    height: 100px;
    margin-bottom: 0px;
}
.imglogo{
    height: 80px;
}